{% extends "site_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h3>Add a Pose</h3>

    <form id="pose-form" class="form-horizontal" method="POST">
        {% crispy pose_form %}
    </form>
  </div>

  <div class="modal fade bs-access-modal-lg" tabindex="-1" id="add-effect-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
           <h4 class="modal-title">Add an Effect</h4>
        </div>
        <div class="modal-body container-fluid">
            {% crispy effect_form %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script>
    $("li.active").removeClass("active");
    $('#pose-nav').addClass('active');

    initializeEffectSelects();

    function openEffectModal() {
      $('#id_body_part').select2({
        dropdownParent: $("#add-effect-modal"),
        ajax: {
          url: '{% url "get_body_parts" %}',
          contentType: "application/json",
          dataType: 'json',
          type: 'GET',
          delay: 250,
          data: function (term) {
            return {
                q: term.term,
            };
          },
          processResults: function (data, page) {
            return { results: data.results };
          },
        },
        width: '100%',
      });

      $('#add-effect-form').submit(function(e){
        e.preventDefault();
        $.ajax({
          url: '{% url "add_effect" %}',
          type: 'POST',
          data: $('#add-effect-form').serialize(),
          success: function(){
            effect_ids = getEffectIds();
            for (i in effect_ids) {
              $(effect_ids[i]).select2("destroy").select2();
              initializeEffectSelects();
            }

            $('#add-effect-modal').modal('hide');
          }
        });
      });


      $('#add-effect-modal').modal();
    }

    function getEffectIds() {
      return ['#id_benefits', '#id_preparation', '#id_compensation'];
    }

    function initializeEffectSelects() {
      effect_ids = getEffectIds();
      for (i in effect_ids) {
        $(effect_ids[i]).select2({
          ajax: {
            url: '{% url "get_effects" %}',
            contentType: "application/json",
            dataType: 'json',
            type: 'GET',
            delay: 250,
            data: function (term) {
              return {
                  q: term.term,
              };
            },
            processResults: function (data, page) {
              return { results: data.results };
            },
          },
          width: '100%',
        });
      }
    }
  </script>
{% endblock %}
