{% extends "site_base.html" %}

{% block content %}
  <div class="container">
    <h2>Poses</h2>
    <table id="pose-table" class="table table-striped table-bordered" cellspacing="0">
      <thead>
        <tr>
          <th>English Name</th>
          <th>Sanskrit Name</th>
          <th>Breath</th>
          <th>Type of Position</th>
          <th>Spinal Direction</th>
          <th>Challenge Level</th>
          <th>Benefits</th>
          <th>Required Prep</th>
          <th>Required Comp</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          {% for pose in object_list %}
            <tr id={{pose.id}}>
              <td nowrap>{{ pose.english_name }}</td>
              <td>{{ pose.sanskrit_name }}</td>
              <td>{{ pose.breath }}</td>
              <td>{{ pose.get_position_classification_display }}</td>
              <td>{{ pose.get_spinal_classification_display }}</td>
              <td>{{ pose.get_challenge_level_display }}</td>
              <td nowrap>
                {% for benefit in pose.benefits.all %}
                  {{ benefit }}
                  {% if not forloop.last %}
                    <br>
                  {% endif %}
                {% endfor %}
              </td>
              <td></td>
              <td></td>
              <td>
                <center>
                  <a href="#" onclick="javascript:removePoses({{pose.id}})" data-toggle="tooltip" title="Delete">
                    <span><i class="glyphicon glyphicon-remove"></i></span>
                  </a>
                  <a href="{% url 'edit_pose' pose.id %}" target="blank" data-toggle="tooltip" title="Edit">
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                  </a>
                </center>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function(){
      initPoseDatatable();
      $("li.active").removeClass("active");
      $('#pose-nav').addClass('active');
    });

    function destroyPoseDatatable() {
        if ($.fn.DataTable.isDataTable('#pose-table')) {
          $('#pose-table').dataTable().fnDestroy();
        }
    }

    function initPoseDatatable() {
        $('#pose-table').dataTable({});
    }

    function removePoses(pose_id){
      $.ajax('{% url "delete_pose" %}', {
        type: "POST",
        method: "POST",
        data: {'pose_ids': [pose_id] },
        dataType: "json",
        success: function(access_ids) {
          destroyPoseDatatable();
          $("tr").filter(function() {
              return this.id == pose_id;
          })[0].style.display = 'none';
          initPoseDatatable();
        },
      });
    }
  </script>
{% endblock %}