@import "~@material/drawer/mdc-drawer";
@import "~@material/list/mdc-list";

.mdc-list-item.active {
  color: teal;
}

.message-leave {
  opacity: 1;
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-out;
}

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}