{% load staticfiles %}

{% load render_bundle from webpack_loader %}

<title>Safe Sequence Builder</title>

{% block topbar_base %}
  <section class="section">
    <div class="container">
          <div id="topnav" class="columns"><!-- React --></div>
    </div>
  </section>
{% endblock %}

{% block body_base %}
  {% if messages %}
    <div class="container-fluid">
      <div id="messages-div" class="col-md-12">
        <ul id="messages">
          {% for message in messages %}
            <div id="message_{{ forloop.counter }}" class="alert alert-{{ message.tags }}">
              <a href="#" class="msg_clear" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">
                <small>clear</small></a> {{ message|safe }}
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block styles %}
  {% block extra_style %}
    <link href="/static/css/select2.min.css" rel="stylesheet" />
  {% endblock %}
{% endblock %}

{% block extra_body_base %}
  {% render_bundle 'main' %}
  {% csrf_token %}
  <script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
  </script>
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
{% endblock %}

{% block extra_js %}{% endblock %}